@import '~antd/dist/antd.css';

.App {
  text-align: center;
}


.box {
	text-align: center;
	border: 2px red solid;
}

.champion_box {
	cursor: pointer;
	text-align: center;
	border: 2px red solid;
}