@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.box {
	text-align: center;
	/*border: 2px red solid;*/
}

.champion_select_box {
	cursor: pointer;
	text-align: center;
	margin: 3px;
}

.your_champions {
	min-height: 20%;
	/*border: 2px red solid;*/
}

.champ_select_image {
	max-width: 100%;
}

.champ_select {
	text-align: center;
	max-height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.inline_champ_image {
	max-width: 100%;
}

.sidebar_enemy_champ_image, .sidebar_your_champ_image {
  padding: 3px;
	max-width: 100%;
}

.champion_input{
  max-width: 400px;
  margin: 10px;
}

.center_div {
	display: block;
	margin: auto;
}

@media only screen and (max-width: 600px){


	.champ_select {
		text-align: center;
		max-height: 350px;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.champ_select_image {
		max-width: 75px;
	}
	.sidebar_your_champ_image {
		max-width: 100px;
	}

  .champion_input {
    margin: 0px;
  }
}
